body {
  font-family:"Quicksand";
  text-align: center;
  margin: 50px;
  background-color: blue;
  background-image: url('background.jpg');
}

.signup-background{
  position: fixed;
  right: 100px; ;
  text-align: center;
  background-color:rgba(56, 54, 54, 0.1);
  padding: 20px;
}
h2 {
  color: #fff;
}
h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  
}
p{
  color: aliceblue;
}
input {
  background-color:rgba(27, 22, 22); /* Change this to
   any color */
   border-radius: 10px;
  color: aliceblue;
}

input::placeholder {
  color: gray;
  font-style: "Quicksand";
  font-size: 16px;
  opacity: 0.8; /* Adjust transparency */
}
form {
  display: inline-block;
  text-align: right;
}

/* From Uiverse.io by satyamchaudharydev */ 
.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
 }
 /* styling of Input */
 .input {
  color:rgba(27, 22, 22)f;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }
 /* here is code of animated border */
 input:focus ~ .input-border {
  width: 100%;
 }
 /* === if you want to do animated border on typing === */
 /* remove input:focus code and uncomment below code */
 /* input:valid ~ .input-border{
   width: 100%;
 } */
input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
}
 
button {
  font-size: 1.0em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #312a2a;
  color: #5f5757;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
  width: 100%;
}

.container {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #788a92, #487a65);
  border-radius: 0.9em;
  transition: all 0.4s ease;
  width: 200px;
  width: 50%; 
  margin: 0 25%;

}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.container:hover::before {
  background: linear-gradient(90deg, #788a92, #487a65);
  background: linear-gradient(90deg, #788a92, #487a65));
  filter: blur(1.2em);
}
.container:active::before {
  filter: blur(0.2em);
}
